<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="e2e">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <!-- Клієнт знає ЛИШЕ адресу шини; сервіси ззовні недосяжні за дизайном -->
        <env name="ESB_ENDPOINT" value="http://esb/soap"/>
        <env name="ESB_REGISTRY" value="http://esb/registry"/>
    </php>
</phpunit>
